<div class="flex-initial">
<form class="form">
  <div class="mt-7">
    <label for="password" class="sr-only">Password</label>
    <input nbInput fullWidth status="primary" [nbPopover]="passwordPopover" nbPopover="Bitte gib dein Passwort ein" nbPopoverTrigger="noop" nbPopoverClass="password" nbPopoverPlacement="top" (input)="onInput()" [(ngModel)]="password" id="password" name="password" type="password"
           autocomplete="current-password" required class="" placeholder="Passwort">
  </div>
  <div class="mt-9">
    <label for="passwordnew" class="sr-only">Password New</label>
    <input nbInput fullWidth status="primary" [nbPopover]="passwordNewPopover" nbPopover="Bitte gib dein neues Passwort ein" nbPopoverTrigger="noop" nbPopoverClass="passwordnew" nbPopoverPlacement="top" (input)="onInput()" [(ngModel)]="passwordnew" id="passwordnew" name="passwordnew" type="passwordnew"
           required class="" placeholder="Neues Passwort">
  </div>
  <div class="mt-9">
    <label for="passwordnewrep" class="sr-only">Password New Rep</label>
    <input nbInput fullWidth status="primary" [nbPopover]="passwordNewRepPopover" nbPopover="Bitte wiederhole dein neues Passwort" nbPopoverTrigger="noop" nbPopoverClass="passwordnewrep" nbPopoverPlacement="top" (input)="onInput()" [(ngModel)]="passwordnewrep" id="passwordnewrep" name="passwordnewrep" type="passwordnewrep"
           required class="" placeholder="Neues Passwort wiederholen">
  </div>
  <div class="mt-9">
    <button nbButton fullWidth class="flex justify-center" status="primary" (click)="onSubmitClick()">Bestätigen</button>
  </div>
</form>
</div>
