<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div class="flex justify-center">
            <h2>Produktinformationen</h2>
        </div>
        <div class="mt-8 space-y-6">
            <nb-card status="success">
                <nb-card-header>
                    <div class="flex justify-start w-full">
                        <div class="flex justify-start w-full">
                            {{beitrag.name}}
                        </div>
                        <!--div class="flex justify-end w-full">
                            <nb-icon icon="radio-button-on" status="success"></nb-icon>
                            <nb-icon icon="radio-button-off" status="warning"></nb-icon>
                            <nb-icon icon="radio-button-off" status="danger"></nb-icon>
                        </div-->
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <img class="mx-auto h-64 w-auto rounded-lg" src="{{beitrag.image}}">
                    <div class="mt-2 flex justify-center w-full">
                        <div>
                            <h6 class="flex justify-center w-full">Allergene</h6>
                            <div class="mt-2 flex justify-center w-full">
                                <nb-tag-list >
                                    <nb-tag *ngFor="let allergen of beitrag.allergens" [text]="allergen"></nb-tag>
                                </nb-tag-list>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 flex justify-center w-full">
                        <div>
                            <h6 class="flex justify-center w-full">Spurenelemente</h6>
                            <div class="mt-2 flex justify-center w-full">
                                <nb-tag-list >
                                    <nb-tag *ngFor="let spuren of beitrag.spuren" [text]="spuren"></nb-tag>
                                </nb-tag-list>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 flex justify-center w-full">
                        <div>
                            <h6 class="flex justify-center w-full">Nahrungstyp</h6>
                            <div class="mt-2 flex justify-center w-full">
                                <nb-tag [text]="beitrag.art"></nb-tag>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
                <nb-card-footer>Von <a ng-href="">{{beitrag.user}}</a></nb-card-footer>
            </nb-card>
        </div>
    </div>
</div>
