<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-64 w-auto rounded-lg" src="/assets/Logo.PNG">
    </div>
    <div class="flex justify-center w-full">
      <nb-button-group size="large" class="flex w-full" (valueChange)="updateisLogin($event)">
        <button pressed="true" nbButtonToggle fullWidth value="Login">Login</button>
        <button nbButtonToggle fullWidth value="Register">Registrieren</button>
      </nb-button-group>
    </div>
    <div class="mt-8 space-y-6">
      <div>
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input nbInput fullWidth nbPopover="Bitte gib deine E-Mail Adresse ein" nbPopoverTrigger="noop" status="primary" [(ngModel)]="emailId" id="email-address" name="email" type="email" autocomplete="email"
                 required class="relative" placeholder="E-Mail Adresse">
        </div>
        <div class="mt-2" *ngIf="isRegister">
          <label for="email-address" class="sr-only">Email address</label>
          <input nbInput fullWidth nbPopover="Bitte gib deinen Username ein" nbPopoverTrigger="noop" status="primary" [(ngModel)]="usernameId" id="email-address2" name="email" type="email" autocomplete="email"
                 required class="relative" placeholder="Username">
        </div>
        <div class="mt-2">
          <label for="password" class="sr-only">Password</label>
          <input nbInput fullWidth nbPopover="Bitte gib dein Passwort ein" nbPopoverTrigger="noop" status="primary" [(ngModel)]="passwordId" id="password" name="password" type="password"
                 autocomplete="current-password" required class="relative" placeholder="Passwort">
        </div>
        <div class="mt-2" *ngIf="isRegister">
          <label for="password" class="sr-only">Password</label>
          <input nbInput fullWidth nbPopover="Bitte gib dein Passwort erneut ein" nbPopoverTrigger="noop" status="primary" [(ngModel)]="passwordtwiceId" id="password2" name="password" type="password"
                 autocomplete="current-password" required class="relative" placeholder="Passwort wiederholen">
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="text-sm">
          <a href="#">
            Passwort vergessen?
          </a>
        </div>
      </div>

      <div>
        <button nbButton fullWidth class="relative flex justify-center" status="primary" (click)="onSubmitClick()">
          <nb-icon class="absolute left-3" icon="unlock-outline"></nb-icon>
          {{isRegister ? 'Registrieren' : 'Login'}}
        </button>
      </div>
    </div>
  </div>
</div>
