<div>
  <div>
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Geht gar nicht! Nichtmal Spuren von...
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngFor="let allergie of allergene" id="allergies-div">
            <nb-checkbox type="checkbox" status="primary" [id]=allergie.id [disabled]=allergie.disabled (change)="onChangeAllergies($event, allergie.name)"><label>{{allergie.name}}</label></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Geht in geringen Mengen! Spuren von... sind in Ordnung
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngFor="let trace of traces" id="tracesOf-div">
            <nb-checkbox type="checkbox" status="primary" [id]="trace.id" [disabled]=trace.disabled (change)="onChangeAllergies($event, trace.name)"><label>{{trace.name}}</label></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Diese Ernährungsweise ist mein Ding!
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngFor="let diet of diets" id="diets-div">
            <nb-checkbox type="checkbox" status="primary" [id]=diet.id (change)="onChangeDiet($event, diet.name)"><label>{{diet.name}}</label></nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
  <div class="flex justify-items-end py-4">
    <button nbButton fullWidth (click)="onClickNext()" status="primary">Weiter</button>
  </div>
</div>
