<div>
  <div>
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Geht gar nicht! Nichtmal Spuren von...
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngFor="let allergie of allergene" id="allergies-div">
            <input type="checkbox" id="{{allergie.id}}" value="{{allergie.name}}" [disabled]=allergie.disabled (change)="onChangeAllergies($event)" /><label>{{allergie.name}}</label>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Geht in geringen Mengen! Spuren von... sind in Ordnung
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngFor="let trace of traces" id="tracesOf-div">
            <input type="checkbox" id="{{trace.id}}" value="{{trace.name}}" [disabled]=trace.disabled (change)="onChangeAllergies($event)" /><label>{{trace.name}}</label>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Diese Ernährungsweise ist mein Ding!
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngFor="let diet of diets" id="diets-div">
            <input type="checkbox" id="{{diet.id}}" value="{{diet.name}}" (change)="onChangeDiet($event)" /><label>{{diet.name}}</label>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
  <div class="flex justify-items-end py-4">
    <button nbButton fullWidth (click)="onClickNext()" status="primary">Weiter</button>
  </div>
</div>
