<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <nb-card>
            <nb-form-field>
                <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                <input type="text" nbInput fullWidth placeholder="Suche nach Beiträgen">
            </nb-form-field>
        </nb-card>
        <div *ngFor = "let data of displayedBeitraege">
            <nb-flip-card>
                <nb-card-front>
                    <nb-card size="medium">
                        <nb-card-header>
                            <div class="flex justify-start w-full">
                                <div class="flex justify-start w-full">
                                    {{data.name}}
                                </div>
                                <div class="flex justify-end w-full">
                                    <div>Rating: {{data.rating}}/5</div>
                                </div>
                            </div>
                            <!--div *ngFor = "let number of [0,1,2,3,4]; let i = index" class="display: inline-block;">
                                <div *ngIf = "data.rating >= (i+1)" class="display: inline-block;">
                                    <nb-icon nbPrefix icon="star" pack="eva"></nb-icon>
                                </div>
                                <div *ngIf = "i >= data.rating" class="display: inline-block;">
                                    <nb-icon nbPrefix icon="star-outline" pack="eva"></nb-icon>
                                </div>
                            </div-->
                        </nb-card-header>
                            <nb-card-body class="inline-block align-middle">
                                <img class="mx-auto h-64 w-auto rounded-lg" src="{{data.image}}">
                            </nb-card-body>
                        <nb-card-footer>Von <a ng-href="">{{data.user}}</a></nb-card-footer>
                    </nb-card>
                </nb-card-front>
                <nb-card-back>
                  <nb-card size="medium">
                    <nb-card-header>{{data.name}}</nb-card-header>
                    <nb-card-body>
                        <div class="mt-2">
                            <h6>Allergene</h6>
                            <div class="mt-2">
                                <nb-tag-list >
                                    <nb-tag *ngFor="let allergen of data.allergens" [text]="allergen"></nb-tag>
                                </nb-tag-list>
                            </div>
                        </div>
                        <div class="mt-4">
                            <h6>Spurenelemente</h6>
                            <div class="mt-2">
                                <nb-tag-list >
                                    <nb-tag *ngFor="let spuren of data.spuren" [text]="spuren"></nb-tag>
                                </nb-tag-list>
                            </div>
                        </div>
                        <div class="mt-4">
                            <h6>Nahrungstyp</h6>
                            <div class="mt-2">
                                <nb-tag [text]="data.art"></nb-tag>
                            </div>
                        </div>
                    </nb-card-body>
                    <nb-card-footer>Von <a ng-href="">{{data.user}}</a></nb-card-footer>
                  </nb-card>
                </nb-card-back>
            </nb-flip-card>
        </div>
    </div>
</div>

