@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((

   color-primary-100: #f2fcf9,
   color-primary-200: #e1f2ed,
   color-primary-300: #cfe8e0,
   color-primary-400: #beded4,
   color-primary-500: #9ed6c4,
   color-primary-600: #8ac0af,
   color-primary-700: #78b6a2,
   color-primary-800: #67ac96,
   color-primary-900: #44987d,

), dark, dark);
